{
  "swagger": "2.0",
  "info": {
    "version": "2019-01-01",
    "title": "DeploymentAdminClient",
    "description": "Deployment Admin Client."
  },
  "host": "adminmanagement.local.azurestack.external",
  "schemes": [
    "https"
  ],
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/providers/Microsoft.Deployment.Admin/locations/global/productDeployments/{productId}/bootstrap": {
      "post": {
        "x-ms-examples": {
          "Invokes bootstrap action on the product deployment": {
            "$ref": "./examples/ProductDeployment/Bootstrap.json"
          }
        },
        "description": "Invokes bootstrap action on the product deployment",
        "tags": [
          "ProductDeployments"
        ],
        "operationId": "ProductDeployment_BootStrap",
        "parameters": [{
            "$ref": "Deployment.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "ProductDeployment.json#/parameters/ProductIdParameter"
          },
          {
            "$ref": "ProductPackage.json#/parameters/BootstrapActionParameter"
          },
          {
            "$ref": "Deployment.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Ok"
          },
          "202": {
            "description": "ACCEPTED"
          }
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Deployment.Admin/locations/global/productDeployments/{productId}/deploy": {
      "post": {
        "x-ms-examples": {
          "Invokes deploy action on the product": {
            "$ref": "./examples/ProductDeployment/Deploy.json"
          }
        },
        "description": "Invokes deploy action on the product",
        "tags": [
          "ProductDeployments"
        ],
        "operationId": "ProductDeployment_Deploy",
        "parameters": [{
            "$ref": "Deployment.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "ProductPackage.json#/parameters/ProductIdParameter"
          },
          {
            "$ref": "ProductDeployment.json#/parameters/DeployActionParameter"
          },
          {
            "$ref": "Deployment.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Ok"
          },
          "202": {
            "description": "ACCEPTED"
          }
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Deployment.Admin/locations/global/productDeployments/{productId}/remove": {
      "post": {
        "x-ms-examples": {
          "Invokes remove action on the product deployment": {
            "$ref": "./examples/ProductDeployment/Remove.json"
          }
        },
        "description": "Invokes remove action on the product deployment",
        "tags": [
          "ProductDeployments"
        ],
        "operationId": "ProductDeployment_Remove",
        "parameters": [{
            "$ref": "Deployment.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "ProductDeployment.json#/parameters/ProductIdParameter"
          },
          {
            "$ref": "Deployment.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Ok"
          },

          "202": {
            "description": "ACCEPTED"
          }
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Deployment.Admin/locations/global/productDeployments/{productId}/rotateSecrets": {
      "post": {
        "x-ms-examples": {
          "Invokes rotate secrets action on the product deployment": {
            "$ref": "./examples/ProductDeployment/RotateSecrets.json"
          }
        },
        "description": "Invokes rotate secrets action on the product deployment",
        "tags": [
          "ProductDeployments"
        ],
        "operationId": "ProductDeployment_RotateSecrets",
        "parameters": [{
            "$ref": "Deployment.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "ProductPackage.json#/parameters/ProductIdParameter"
          },
          {
            "$ref": "Deployment.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
            "200": {
                "description": "OK"
            },
            "202": {
            "description": "ACCEPTED"
          }
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Deployment.Admin/locations/global/productDeployments/{productId}/unlock": {
      "post": {
        "x-ms-examples": {
          "Unlocks the product subscription": {
            "$ref": "./examples/ProductDeployment/Unlock.json"
          }
        },
        "description": "Unlocks the product subscription",
        "tags": [
          "ProductDeployments"
        ],
        "operationId": "ProductDeployment_Unlock",
        "parameters": [{
            "$ref": "Deployment.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "ProductPackage.json#/parameters/ProductIdParameter"
          },
          {
            "$ref": "ProductDeployment.json#/parameters/UnlockActionParameter"
          },
          {
            "$ref": "Deployment.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Deployment.Admin/locations/global/productDeployments/{productId}/lock": {
      "post": {
        "x-ms-examples": {
          "locks the product subscription": {
            "$ref": "./examples/ProductDeployment/Lock.json"
          }
        },
        "description": "locks the product subscription",
        "tags": [
          "ProductDeployments"
        ],
        "operationId": "ProductDeployment_Lock",
        "parameters": [{
            "$ref": "Deployment.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "ProductPackage.json#/parameters/ProductIdParameter"
          },
          {
            "$ref": "Deployment.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    }
  },
  "definitions": {
    "DeployActionParameters": {
      "description": "Parameters for deploy action",
      "type": "object",
      "properties": {
        "version": {
          "description": "Generic Version object",
          "type": "string"
        },
        "parameters": {
          "description": "Deployment parameters, value in JToken",
          "type": "string"
        }
      }
    },
    "BootStrapActionParameters": {
      "description": "Parameters for bootstrap action",
      "type": "object",
      "properties": {
        "version": {
          "description": "Generic Version object",
          "type": "string"
        }
      }
    },
    "UnlockActionParameters": {
      "description": "Parameters for bootstrap action",
      "type": "object",
      "properties": {
        "duration": {
          "description": "Duration in TimeSpan format(Define which ISO format)",
          "type": "string"
        }
      }
    }
  },
  "parameters": {
    "ResourceGroupParameter": {
      "description": "The resource group the resource is located under.",
      "name": "resourceGroup",
      "in": "path",
      "type": "string",
      "required": true,
      "x-ms-parameter-location": "method"
    },
    "BootstrapActionParameter": {
      "description": "Represents bootstrap action parameter",
      "name": "bootstrapActionParameter",
      "in": "body",
      "required": true,
      "schema": {
        "$ref": "#/definitions/BootStrapActionParameters"
      },
      "x-ms-parameter-location": "method"
    },
    "UnlockActionParameter": {
      "description": "Represents bootstrap action parameter",
      "name": "unlockActionParameter",
      "in": "body",
      "required": true,
      "schema": {
        "$ref": "#/definitions/UnlockActionParameters"
      },
      "x-ms-parameter-location": "method"
    },
    "DeployActionParameter": {
      "description": "Represents bootstrap action parameter",
      "name": "deployActionParameter",
      "in": "body",
      "required": true,
      "schema": {
        "$ref": "#/definitions/DeployActionParameters"
      },
      "x-ms-parameter-location": "method"
    }
  },
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Authorization uses an Azure Active Directory OAuth2 flow.",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "security": [{
    "azure_auth": [
      "user_impersonation"
    ]
  }]
}
