{
    "swagger": "2.0",
    "info": {
        "version": "2015-11-01",
        "title": "SubscriptionsManagementClient",
        "description": "The Admin Subscriptions Management Client."
    },
    "host": "adminmanagement.local.azurestack.external",
    "schemes": [
        "https"
    ],
    "paths": {
        "/subscriptions/{subscriptionId}/providers/Microsoft.Subscriptions.Admin/offers": {
            "get": {
                "x-ms-examples": {
                    "Get the list of offers.": {
                        "$ref": "./examples/Offer/List.json"
                    }
                },
                "description": "Get the list of offers.",
                "tags": [
                    "Offers"
                ],
                "operationId": "Offers_ListAll",
                "parameters": [
                    {
                        "$ref": "Subscriptions.json#/parameters/SubscriptionIdParameter"
                    },
                    {
                        "$ref": "Subscriptions.json#/parameters/ApiVersionParameter"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/OfferList"
                        }
                    }
                },
                "produces": [
                    "application/json"
                ],
                "consumes": [
                    "application/json"
                ],
                "x-ms-pageable": {
                    "nextLinkName": "nextLink"
                }
            }
        },
        "/subscriptions/{subscriptionId}/resourcegroups/{resourceGroup}/providers/Microsoft.Subscriptions.Admin/offers": {
            "get": {
                "x-ms-examples": {
                    "Get the list of offers.": {
                        "$ref": "./examples/Offer/List.json"
                    }
                },
                "description": "Get the list of offers.",
                "tags": [
                    "Offers"
                ],
                "operationId": "Offers_List",
                "parameters": [
                    {
                        "$ref": "Subscriptions.json#/parameters/SubscriptionIdParameter"
                    },
                    {
                        "$ref": "Subscriptions.json#/parameters/ResourceGroupParameter"
                    },
                    {
                        "$ref": "Subscriptions.json#/parameters/ApiVersionParameter"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/OfferList"
                        }
                    }
                },
                "produces": [
                    "application/json"
                ],
                "consumes": [
                    "application/json"
                ],
                "x-ms-pageable": {
                    "nextLinkName": "nextLink"
                }
            }
        },
        "/subscriptions/{subscriptionId}/resourcegroups/{resourceGroup}/providers/Microsoft.Subscriptions.Admin/offers/{offer}": {
            "get": {
                "x-ms-examples": {
                    "Get the list of offers.": {
                        "$ref": "./examples/Offer/List.json"
                    }
                },
                "description": "Get the list of offers.",
                "tags": [
                    "Offers"
                ],
                "operationId": "Offers_Get",
                "parameters": [
                    {
                        "$ref": "Subscriptions.json#/parameters/SubscriptionIdParameter"
                    },
                    {
                        "$ref": "Subscriptions.json#/parameters/ResourceGroupParameter"
                    },
                    {
                        "$ref": "Subscriptions.json#/parameters/OfferParameter"
                    },
                    {
                        "$ref": "Subscriptions.json#/parameters/ApiVersionParameter"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/Offer"
                        }
                    },
                    "404": {
                        "description": "NOT FOUND"
                    }
                },
                "produces": [
                    "application/json"
                ],
                "consumes": [
                    "application/json"
                ]
            },
            "put": {
                "x-ms-examples": {
                    "Get the list of offers.": {
                        "$ref": "./examples/Offer/List.json"
                    }
                },
                "description": "Get the list of offers.",
                "tags": [
                    "Offers"
                ],
                "operationId": "Offers_CreateOrUpdate",
                "parameters": [
                    {
                        "$ref": "Subscriptions.json#/parameters/SubscriptionIdParameter"
                    },
                    {
                        "$ref": "Subscriptions.json#/parameters/ResourceGroupParameter"
                    },
                    {
                        "$ref": "Subscriptions.json#/parameters/OfferParameter"
                    },
                    {
                        "$ref": "Subscriptions.json#/parameters/ApiVersionParameter"
                    },
                    {
                        "$ref": "#/parameters/NewOfferParameter"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/Offer"
                        }
                    }
                },
                "produces": [
                    "application/json"
                ],
                "consumes": [
                    "application/json"
                ]
            },
            "delete": {
                "x-ms-examples": {
                    "Get the list of offers.": {
                        "$ref": "./examples/Offer/List.json"
                    }
                },
                "description": "Get the list of offers.",
                "tags": [
                    "Offers"
                ],
                "operationId": "Offers_Delete",
                "parameters": [
                    {
                        "$ref": "Subscriptions.json#/parameters/SubscriptionIdParameter"
                    },
                    {
                        "$ref": "Subscriptions.json#/parameters/ResourceGroupParameter"
                    },
                    {
                        "$ref": "Subscriptions.json#/parameters/OfferParameter"
                    },
                    {
                        "$ref": "Subscriptions.json#/parameters/ApiVersionParameter"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                },
                "produces": [
                    "application/json"
                ],
                "consumes": [
                    "application/json"
                ]
            }
        },
        "/subscriptions/{subscriptionId}/resourcegroups/{resourceGroup}/providers/Microsoft.Subscriptions.Admin/offers/{offer}/Metrics": {
            "get": {
                "x-ms-examples": {
                    "Get subscription metrics.": {
                        "$ref": "./examples/Offer/Metrics.json"
                    }
                },
                "description": "Get subscription metrics.",
                "tags": [
                    "Offers"
                ],
                "operationId": "Offers_ListMetrics",
                "parameters": [
                    {
                        "$ref": "Subscriptions.json#/parameters/SubscriptionIdParameter"
                    },
                    {
                        "$ref": "Subscriptions.json#/parameters/ResourceGroupParameter"
                    },
                    {
                        "$ref": "Subscriptions.json#/parameters/OfferParameter"
                    },
                    {
                        "$ref": "Subscriptions.json#/parameters/ApiVersionParameter"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "Subscriptions.json#/definitions/MetricList"
                        }
                    }
                },
                "produces": [
                    "application/json"
                ],
                "consumes": [
                    "application/json"
                ]
            }
        },
        "/subscriptions/{subscriptionId}/resourcegroups/{resourceGroup}/providers/Microsoft.Subscriptions.Admin/offers/{offer}/MetricDefinitions": {
            "get": {
                "x-ms-examples": {
                    "Get the list of offers.": {
                        "$ref": "./examples/Offer/MetricDefinitions.json"
                    }
                },
                "description": "Get the list of offers.",
                "tags": [
                    "Offers"
                ],
                "operationId": "Offers_ListMetricDefinitions",
                "parameters": [
                    {
                        "$ref": "Subscriptions.json#/parameters/SubscriptionIdParameter"
                    },
                    {
                        "$ref": "Subscriptions.json#/parameters/ResourceGroupParameter"
                    },
                    {
                        "$ref": "Subscriptions.json#/parameters/OfferParameter"
                    },
                    {
                        "$ref": "Subscriptions.json#/parameters/ApiVersionParameter"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "Subscriptions.json#/definitions/MetricDefinitionList"
                        }
                    }
                },
                "produces": [
                    "application/json"
                ],
                "consumes": [
                    "application/json"
                ]
            }
        },
        "/subscriptions/{subscriptionId}/resourcegroups/{resourceGroup}/providers/Microsoft.Subscriptions.Admin/offers/{offer}/link": {
            "post": {
                "x-ms-examples": {
                    "Get the list of offers.": {
                        "$ref": "./examples/Offer/List.json"
                    }
                },
                "description": "Get the list of offers.",
                "tags": [
                    "Offers"
                ],
                "operationId": "Offers_Link",
                "parameters": [
                    {
                        "$ref": "Subscriptions.json#/parameters/SubscriptionIdParameter"
                    },
                    {
                        "$ref": "Subscriptions.json#/parameters/ResourceGroupParameter"
                    },
                    {
                        "$ref": "Subscriptions.json#/parameters/OfferParameter"
                    },
                    {
                        "$ref": "#/parameters/PlanLinkParameter"
                    },
                    {
                        "$ref": "Subscriptions.json#/parameters/ApiVersionParameter"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                },
                "produces": [
                    "application/json"
                ],
                "consumes": [
                    "application/json"
                ]
            }
        },
        "/subscriptions/{subscriptionId}/resourcegroups/{resourceGroup}/providers/Microsoft.Subscriptions.Admin/offers/{offer}/unlink": {
            "post": {
                "x-ms-examples": {
                    "Get the list of offers.": {
                        "$ref": "./examples/Offer/List.json"
                    }
                },
                "description": "Get the list of offers.",
                "tags": [
                    "Offers"
                ],
                "operationId": "Offers_Unlink",
                "parameters": [
                    {
                        "$ref": "Subscriptions.json#/parameters/SubscriptionIdParameter"
                    },
                    {
                        "$ref": "Subscriptions.json#/parameters/ResourceGroupParameter"
                    },
                    {
                        "$ref": "Subscriptions.json#/parameters/OfferParameter"
                    },
                    {
                        "$ref": "#/parameters/PlanLinkParameter"
                    },
                    {
                        "$ref": "Subscriptions.json#/parameters/ApiVersionParameter"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                },
                "produces": [
                    "application/json"
                ],
                "consumes": [
                    "application/json"
                ]
            }
        }
    },
    "definitions": {
        "Offer": {
            "description": "Represents an offering of services against which a subscription can be created.",
            "type": "object",
            "properties": {
                "properties": {
                    "x-ms-client-flatten": true,
                    "description": "Represents an offering of services against which a subscription can be created.",
                    "$ref": "#/definitions/OfferProperties"
                }
            },
            "allOf": [
                {
                    "$ref": "Subscriptions.json#/definitions/Resource"
                }
            ]
        },
        "OfferProperties": {
            "description": "Represents an offering of services against which a subscription can be created.",
            "type": "object",
            "properties": {
                "displayName": {
                    "description": "Display name of offer.",
                    "type": "string"
                },
                "description": {
                    "description": "Description of offer.",
                    "type": "string"
                },
                "externalReferenceId": {
                    "description": "External reference identifier.",
                    "type": "string"
                },
                "state": {
                    "description": "Offer accessibility state.",
                    "$ref": "#/definitions/AccessibilityState"
                },
                "subscriptionCount": {
                    "description": "Current subscription count.",
                    "type": "integer"
                },
                "maxSubscriptionsPerAccount": {
                    "description": "Maximum subscriptions per account.",
                    "type": "integer"
                },
                "basePlanIds": {
                    "description": "Identifiers of the base plans that become available to tenant immediately when a tenant subscribes to the offer.",
                    "type": "array",
                    "items": {
                        "type": "string"
                    }
                },
                "addonPlanDefinition": {
                    "description": "References to add-on plans that a tenant can optionally acquire as a part of the offer.",
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/AddonPlanDefinition"
                    }
                }
            }
        },
        "AccessibilityState": {
            "type": "string",
            "enum": [
                "Private",
                "Public",
                "Decommissioned"
            ],
            "x-ms-enum": {
                "name": "AccessibilityState",
                "modelAsString": true,
                "values": [
                    {
                        "description": "The offer or plan is private. Only Admin can see and manage it. ",
                        "name": "Private",
                        "value": "Private"
                    },
                    {
                        "description": "The offer or plan is public. Tenants can see and self-subscribe to it.",
                        "name": "Public",
                        "value": "Public"
                    },
                    {
                        "description": "The offer or plan is decommissioned. Current subscriptions can still consume it but new subscriptions cannot.",
                        "name": "Decommissioned",
                        "value": "Decommissioned"
                    }
                ]
            }
        },
        "AddonPlanDefinition": {
            "description": "Contains the name of the desired plan to be linked or unlinked from an offer.",
            "type": "object",
            "properties": {
                "planId": {
                    "description": "Plan identifier.",
                    "type": "string"
                },
                "maxAcquisitionCount": {
                    "description": "maximum number of instances that can be acquired by a single subscription.  If not specified, the assumed value is 1.",
                    "type": "integer"
                }
            }
        },
        "OfferList": {
            "description": "List of offers.",
            "type": "object",
            "properties": {
                "value": {
                    "description": "List of offers.",
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/Offer"
                    }
                },
                "nextLink": {
                    "type": "string",
                    "description": "URI to next page."
                }
            }
        },
        "PlanLink": {
            "description": "Plan link type.",
            "type": "string",
            "enum": [
                "None",
                "Base",
                "Addon"
            ],
            "x-ms-enum": {
                "name": "PlanLink",
                "values": [
                    {
                        "description": "The plan link type is not specified or is unknown.",
                        "name": "None",
                        "value": "None"
                    },
                    {
                        "description": "The plan is linked to the base collection of the subscribed offer.",
                        "name": "Base",
                        "value": "Base"
                    },
                    {
                        "description": "The plan is linked to the add-on collection of the subscribed offer.",
                        "name": "Addon",
                        "value": "Addon"
                    }
                ]
            }
        }
    },
    "parameters": {
        "NewOfferParameter": {
            "description": "New offer.",
            "name": "newOffer",
            "in": "body",
            "required": true,
            "schema": {
                "$ref": "#/definitions/Offer"
            },
            "x-ms-parameter-location": "method"
        },
        "PlanLinkParameter": {
            "description": "New plan link.",
            "name": "planLink",
            "in": "body",
            "required": true,
            "schema": {
                "$ref": "#/definitions/PlanLink"
            },
            "x-ms-parameter-location": "method"
        }
    },
    "securityDefinitions": {
        "azure_auth": {
            "type": "oauth2",
            "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
            "flow": "implicit",
            "description": "Azure Active Directory OAuth2 Flow",
            "scopes": {
                "user_impersonation": "impersonate your user account"
            }
        }
    },
    "security": [
        {
            "azure_auth": [
                "user_impersonation"
            ]
        }
    ]
}